<div class="panel panel-default text-left">
	<div class="panel-heading">
		Crear tarea
	</div>
	<div class="panel-body">
		<form class="form" data-ng-submit="todoForm.submit(newTODO)" name="newTODO" novalidate>
			<div class="form-group" data-ng-class="{'has-error': newtodo.name.$touched && newtodo.name.$invalid}">
				<label for="title">Título</label>
				<input class="form-control" data-ng-model="todoForm.todo.name" id="title" name="title" required type="text">
			</div>
			<div class="form-group" data-ng-class="{'has-error': newTODO.description.$touched && newTODO.description.$invalid}">
				<label for="description">Descripción</label>
				<textarea class="form-control" cols="30" data-ng-model="todoForm.todo.description" id="description" name="description" required rows="5" type="textarea"></textarea>
			</div>
			<div class="form-group text-right">
				<button class="btn btn-primary" type="submit">Agregar</button>
			</div>
		</form>
	</div>
</div>
