<div class="row">
	<div class="col-sm-12">
		<todo-spinner ng-if="todoCtrl.inProgress && todoCtrl.todoList.length == 0"></todo-spinner>
        <todo-empty-message ng-if="!todoCtrl.inProgress && todoCtrl.todoList.length == 0"></todo-empty-message>

        <div class="container" ng-if="!todoCtrl.inProgress && todoCtrl.todoList.length > 0">
            <div class="jumbotron text-center">
                <h1>Listado de tareas</h1>
                <div class="col-sm-5">
                    <div ng-if="!todoCtrl.inProgress">
                		<todo-form data-controller="todoCtrl"></todo-form>
                	</div>
            	</div>
                <div class="col-sm-7">
                    <todo-item ng-repeat="todo in todoCtrl.todoList"></todo-item>
                </div>
            </div>
        </div>
	</div>
</div>
